@import "../../../../assets/scss/variable.scss";

.topbar .navbar-collapse {
    padding: 0 10px !important;
    /* height: 145px !important; */
}

.bg {
    width: 1127px;
    height: 60px;
    border-radius: 20px;
    border: solid 1px #dfe4e6;
    background-color: white;
    margin-top: -30px;
  }


 
.svg-btn{
    width: 77px;
    height: 58px;
}


.group-svg{
    padding-right: 40px;
}

 .topbar{
   
    background-repeat: no-repeat;
    background-size: 100% 145px;
}  
.Rectangle {
    width: 85px;
    height: 21px;
    border-radius: 10.5px;
    text-align: center;
    background-color: #13ccb3;
}

.btn-text{
    margin-top: 5%;
    font-size: 130%;
}

@media (min-width: 768px) and (max-width: 768px) {
    .btn-text {
      margin-top: 9%;
      font-size: 100%;
    }

    .svg-btn {
      width: 30%;
    }
}