<header class="topbar" [style.backgroundImage]="getHeader()">


    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header">
      </div>
  
      <div class="bg">
  
        <div class="navbar-collapse">
  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <h3>{{ header | uppercase }}</h3>
            </li>
          </ul>
  
          <ul class="navbar-nav my-lg-0">
            <li class="nav-item"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href=""
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="mdi mdi-help-circle-outline"></i></a></li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-bell-ring-outline"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                <ul>
                  <li>
                    <div class="drop-title">Notificaciones</div>
                  </li>
                  <li>
                    <div class="message-center">
  
                      <a href="#">
                        <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                        <div class="mail-contnet">
                          <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new
                            admin!</span> <span class="time">9:30 AM</span>
                        </div>
                      </a>
  
                      <a href="#">
                        <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                        <div class="mail-contnet">
                          <h5>Event today</h5> <span class="mail-desc">Just a reminder that you
                            have event</span> <span class="time">9:10 AM</span>
                        </div>
                      </a>
  
                      <a href="#">
                        <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                        <div class="mail-contnet">
                          <h5>Settings</h5> <span class="mail-desc">You can customize this
                            template as you want</span> <span class="time">9:08 AM</span>
                        </div>
  
                      </a>
                      <a href="#">
                        <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                        <div class="mail-contnet">
                          <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my
                            admin!</span> <span class="time">9:02 AM</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all
                        notifications</strong> <i class="fa fa-angle-right"></i> </a>
                  </li>
                </ul>
              </div>
            </li>
  
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><img src={{data.fotoPerfil}} alt="user" class="profile-pic"
                  *ngIf="userData.fotoPerfil !== null" />
                   
                {{data.priNombre}}</a>
              <div class="dropdown-menu dropdown-menu-right animated flipInY">
                <ul class="dropdown-user">
                  <li>
                    <div class="dw-user-box">
                      <div class="u-img" *ngIf="userData.fotoPerfil !== null"><img src={{data.fotoPerfil}} alt="user">
                      </div>
                      <div class="u-text">
                        <h3>{{ data.priNombre }} {{data.priApellido}}</h3>
                        <div class="Rectangle">
                          <h6>{{ data.tipoUsu }} </h6>
                        </div>
                        <h6 class="text-muted">{{ data.user.username }}</h6>
                      </div>
  
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><i class="ti-user"></i> Mi Perfil</a></li>
                  <!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li> -->
                  <li><a href="#"><i class="ti-email"></i> Mensajes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/backoffice"><i class="ti-settings"></i> Administración</a></li>
                  <li role="separator" class="divider"></li>
                  <li (click)="logout()"><a><i class="fa fa-power-off"></i> Salir</a></li>
                </ul>
              </div>
            </li>
  
          </ul>
  
        </div>
     
      </div>
  
    </nav>
  </header>