
/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border:#f3f1f1;
$card-brd:#d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #b1b8bb;
$silver: #dfe4e6;
$black: #140f26;
$primary-default: #7461fc;
$primary-light: #a699ff;
$primary-orange: #fd5f54;
$iris: #5e4fcc;
$soft-blue: #597bf0;
$cornflower-blue: #4c69cc;
$perrywinkle: #89a0f0;
$brown-grey: #8c8c8c;
$aqua: #16e6c9;
$topaz: #13ccb3;
$pale-grey: #f3f4f8;
$tealish: #1dcac0;
$tiffany-blue: #8ae6d9;
$pale-lilac: #d4cfff;
$aqua-marine: #35d6a7;
$lipstick: #cd2d3f;
$water-blue: #137ecc;
$white: #ffffff;
$yellow-orange: #ffb500;
$brown-grey: #807e7e;
$pale-lilac-10: rgba(212, 207, 255, 0.1);
$soft-blue-0: rgba(80, 161, 255, 0);
$light-periwinkle: #dfe2e6;
$dark: #1d1d27;
$purplish-grey: #656273;
$white-two: #f6f6f6;
$cornflower: #695cff;


