/* You can add global styles to this file, and also import other style files */
@import url('./assets/css/bootstrap-select.min.css');
@import url('./assets/css/select2.min.css');
@import url('./assets/css/form-icheck.css');
@import url('./assets/css/floating-label.css');
@import url('./assets/scss/pages/common.scss');
@import url('./assets/css/chartist-plugin-tooltip.css');
@import url('./assets/css/stylish-tooltip.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Poppins;
  src: url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Open Sans;
  src: url("../src/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}



body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
}


.fix-header .page-wrapper {
  padding-top: 145px;
}

.fix-header .topbar {
  height: 145px;
}

.fix-sidebar .left-sidebar {
  z-index: 100;
}

.left-sidebar {
  padding-top: 15px;
}

.topbar {
  background: #dfe4e6;

}

.sidebar-nav {
  padding: 0;
}

.navbar-brand {
  padding-bottom: 2.3125rem;
}


.navbar-expand-md {
  justify-content: flex-end;
}

.card-no-border .left-sidebar,
.card-no-border .sidebar-nav {
  background: #ffffff;
}





.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
  background: white;
  color: #687384;
}


.table-bordered {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.modal-title {
  font-family: Poppins;
  font-size: 90%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

.note-modal {
  font-family: Poppins;
  font-size: 12.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #657785;
  margin-left: 2%;
}

.mat-radio-button {
  margin-left: 3%;
}

.photo-default {
  background: #f6f6f6;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: cursive;
  font-size: 300%;
  color: black;
  max-width: 66%;
  font-family: Open Sans;
  font-weight: bold;
  margin: auto;
}
