<div id="main-wrapper">
    <app-header [header]="header" [data]="data" ></app-header>  
    <app-sidebar (changeHeader)="cargarheader($event)" ></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div> 
  </div>
  
  