<div class="page">
  <div class="login">
    <div class="container">
      <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Bienvenido</h2>


        <div class="form-group ">
          <input formControlName="username" class="form-control place"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" type="text" required placeholder="Correo">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Email es requerido </div>
            <div *ngIf="f.username.errors.email">Ingrese un correo válido</div>
          </div>
        </div>
        <br>
        <div class="form-group ">
          <show-hide-password size="sm" btnStyle="secondary" [btnOutline]="true">
            <input formControlName="password" class="form-control place"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" required
              placeholder="Contraseña">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Contraseña Requerida</div>
              <div *ngIf="f.password.errors.minlength">Contraseña minimo 6 caracteres</div>
            </div>
          </show-hide-password>
        </div>
      
        <a (click)="showRecoveryForm()" href="#" class="link">
          Olvidaste tu contraseña
        </a>

        <button class="signin">
          <span>INGRESAR </span>
        </button>




      </form>
      <!--
    <h2>Bienvenido</h2>
    <form>
      <input type="text" class="email" placeholder="email">
      <br/>
      <input type="text" class="pwd" placeholder="password">
    </form>
    <a href="#" class="link">
      Olvidaste tu contraseña
    </a>
    <br/>
   
   
    <button class="signin">
      <span>INGRESAR </span>
    </button>
   
    <h3>your sign in is complete !</h3>
    <div class="reg"></div>
    <div class="sig"></div>
  -->


    </div>

  </div>


</div>
