@import "../../../../assets/scss/variable.scss";

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  body{
    font-family: Poppins;
    background:#e2e2e2;
  }
  
  .page{
    height: 100%;
    width: 100%;
    text-align:center;
  
  }

  .login{
    height: 100%;
    width: 100%;
    text-align:center;
    background-image: url('../../../../assets/images/fondoFarmacia.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 10%;
  }
  .container{
    position:relative;
    display:block;
    width:500px;
    height:400px;
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    z-index:1;
    margin:0 auto;
  }
  
  h2{
    padding:30px;
    font-weight:lighter;
    color:#414141;
    font-family: Poppins;
  }
  

  input{
    margin-top: 5%;
    height:50px;
    width:80%;
    margin:0 auto;
    border:none;
    &::placeholder{
      -webkit-transform:translateY(0px);
        transform:translateY(0px);
      -webkit-transition:.5s;
        transition:.5s;
    }&:hover,
    &:focus,
    &:active:focus{
      color: $soft-blue;
      outline:none;
      border-bottom:1px solid $soft-blue;
      &::placeholder{
        color:$soft-blue;
        position:relative;
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        
      }
    }
    
  }
 

  .email,
  .pwd{
    position:relative;
    z-index:1;
    border-bottom:1px solid rgba(0,0,0,.1);
 
    font-family: Open Sans;
    font-weight: bold;
    color:#858585;
    font-weight:lighter;
    -webkit-transition:.5s;
    transition:.5s;
  }
  
   
  
  .link{
    text-decoration:none;
    display:inline-block;
    color:#858585;
    font-weight:lighter;
    -webkit-transition:.5s;
    transition:.5s;
    font-family: Open Sans;
  }
  

  button{
    cursor:pointer; 
    width:100%;
    height:45px;
    margin-top:20px;
    border:none;
    font-family: Poppins;
    color:#fff;
    -webkit-transition:.5s;
    transition:.5s;
    &:nth-of-type(1){
      background-image: linear-gradient(106deg, #ffc185, #fd5f54 100%);
    }
    &:nth-of-type(2){
      background-image: linear-gradient(106deg, #ffc185, #fd5f54 100%);
    }
    span{
      position:absolute;
      display:block;
      margin:-10px 40%;
      -webkit-transform:translateX(0);
      transform:translateX(0);
      -webkit-transition:.5s;
      transition:.5s;
    }
    &:hover{
      span{
        -webkit-transform:translateX(30px);
        transform:translateX(30px);
        }
     }
  }
  
  .reg{
      position:absolute;
      top:0;
      left:0;
      -webkit-transform:translateY(-100%) scale(1);
      transform:translateY(-100%) scale(1);
      display:block;
      width:20px;
      height:20px;
      border-radius:50px;
      background:#673ab7;
      z-index:5;
      -webkit-transition:.8s ease-in-out;
      transition:.8s ease-in-out;
    }

  .sig{
     position:absolute;
     top:0;
     right:0;
     -webkit-transform:translateY(-100%) scale(1);
     transform:translateY(-100%) scale(1);
     display:block;
     width:20px;
     height:20px;
     display:block;
     background:#ff5722;
     z-index:5;
     -webkit-transition:.8s ease-in-out;
      transition:.8s ease-in-out;
  }
  
  h3{
    position:absolute;
    top:-100%;
    left:20%; 
    font-weight:bolder;
    color:rgba(255,255,255,.3);
    -webkit-transition:.3s ease-in-out 1.2s;
    transition:.3s ease-in-out 1.2s;
  }
  
  .email::placeholder, .pwd::placeholder {
    font-size: 12px;
    font-family: Open Sans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $brown-grey;
  }
  