<div class="row">
  <div class="col-12">

    <h5>Tipo Catalogos</h5>
    <a class="dropdown-item" data-toggle="modal" data-target="#modalTipoCatalogo">Crear tipo catalogo</a>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [(dataSource)]="dataSource" matSort>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
          <td mat-cell *matCellDef="let row"> {{row.detalles}} </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let row" > <a class="dropdown-item" (click)="editar=true; editarTipoCata(row.id, row.nombre, row.detalles)" data-toggle="modal" data-target="#modalTipoCatalogo"  >Editar</a>
         
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">

    <h5>Tipo Catalogos</h5>

  </div>
</div>



<div id="modalTipoCatalogo" class="modal fade bs-example-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;" #modalTipoCatalogo>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Añadir Tipo Catalogo</h4>
        <button id="closeModalTC" type="button" class="close" data-dismiss="modal"
          aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <mat-form-field >
            <input matInput placeholder="Tipo Catálogo" [(ngModel)]="name">
          </mat-form-field>

          <mat-form-field  >

            <textarea matInput placeholder="Detalles" [(ngModel)]="detail"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-secondary btn-canceled-modal"
          data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-primary btn-accepted-modal"
          (click)="createTp(name,detail)" *ngIf="editar === false" >Añadir</button>
          <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-primary btn-accepted-modal"
          (click)="updateTp(name,detail)" *ngIf="editar === true" >Editar</button>
      </div>
    </div>
  </div>

</div>
