@import "../../../../assets/scss/variable.scss";

.logoPac .imgLogo {
  margin-top: 20% !important;
  width: 100% !important;
  height: 60px !important;
  margin-bottom: 50% !important;
  padding-left: 15% !important;
}
.text {
  display: none;
  font-family: Poppins;
  font-size: 10px;
  margin-top: 8%;
}
.btn {
  margin-top: 25%;
  width: 100% !important;
  height: 60px !important;
}
.active .btnCirculo {
  background-color: $primary-default;
  border-radius: 50%;
  height: 40px !important;
}
.active .text {
  display: block;
}
.active .btnCirculo .imagen2 {
  margin: 0% auto;
  padding-top: 20%;
  display: block;
}
.active .btnCirculo .imagen1 {
  margin: 0% auto;
  padding-top: 20%;
  display: none;
}
.active,
.btn:hover {
  border-right: thick solid $primary-default;
}
.btnCirculo .imagen2 {
  padding-top: 20%;
  display: none;
}
.btnCirculo .imagen1 {
  padding-top: 20%;
}
