<aside class="left-sidebar">
  <div class="scroll-sidebar ps-container ps-theme-default ps-active-y">
    <nav class="sidebar-nav ">
      <div id="sidebarnav">
        <span class="logoPac">
          <a (click)="cargarHeader('inicio')">
            <div class="imgLogo">
              <img src="assets/svg/color.svg" alt=" ">
            </div>
          </a>
        </span>
        <a href="javascript:void()" (click)="cargarHeader('inicio')" routerLink="/inicio">
          <div [ngClass]="{'active':nombre==='inicio'}" class="btn">
            <div class="btnCirculo">
              <img class="imagen1" src="assets/icon_web/homeWhite2.svg" alt=" ">
              <img class="imagen2" src="assets/icon_web/homeWhite23.svg" alt=" ">
            </div>
            <p class="text">INICIO</p>
          </div>
        </a>
        <a href="javascript:void()" *ngIf="userData.tipoUsu === 'farmacia'" (click)="cargarHeader('inventario')"
          routerLink="/inventario">
          <div [ngClass]="{'active':nombre==='inventario'}" class="btn ">
            <div class="btnCirculo">
              <img class="imagen1" src="assets/icon_web/calendarWhite2.svg" alt=" ">
              <img class="imagen2" src="assets/icon_web/calendarWhite23.svg" alt=" ">
            </div>
            <p class="text">Produ</p>
          </div>
        </a>

        <a href="javascript:void()" *ngIf="userData.tipoUsu === 'farmacia'" (click)="cargarHeader('catalogos')"
          routerLink="/catalogos">
          <div [ngClass]="{'active':nombre==='catalogos'}" class="btn ">
            <div class="btnCirculo">
              <img class="imagen1" src="assets/icon_web/paper-bagWhite2.svg" alt=" ">
              <img class="imagen2" src="assets/icon_web/paper-bagWhite23.svg" alt=" ">
            </div>
            <p class="text">Catalo</p>
          </div>
        </a>

        <a href="javascript:void()" (click)="cargarHeader('perfil')" routerLink="/perfil">
          <div [ngClass]="{'active':nombre==='perfil'}" class="btn ">
            <div class="btnCirculo">
              <img class="imagen1" src="assets/icon_web/userWhite2.svg" alt=" ">
              <img class="imagen2" src="assets/icon_web/userWhite23.svg" alt=" ">
            </div>
            <p class="text">Perfil</p>
          </div>
        </a>
      </div>
    </nav>
  </div>
</aside>
